<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168710186389-i6obk23dc2rko1hofvftvctsem9pk0lc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168710186389-i6obk23dc2rko1hofvftvctsem9pk0lc</string>
	<key>API_KEY</key>
	<string>AIzaSyCDp58e0-6oK_z8yEq6dI-ZtacVisaLdNY</string>
	<key>GCM_SENDER_ID</key>
	<string>168710186389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CS371.takein-app</string>
	<key>PROJECT_ID</key>
	<string>take-in-d0e08</string>
	<key>STORAGE_BUCKET</key>
	<string>take-in-d0e08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168710186389:ios:10c691e29ceffefcca829c</string>
</dict>
</plist>